html{
    scroll-behavior:smooth;
}
body{
margin: 0;
font-family: "Inter", sans-serif;
color: #292929;
font-size: 16px;
line-height: 140%;
}
.menu_top{
    display: flex;
    justify-content: space-between;
    margin-bottom:  64px;
}
.menu{
    display: none;

    box-sizing: border-box;
    padding: 64px 120px;
    background: #E8EFF9;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform:translateX(-100%);
    transition: transform  500ms;
    
}
.menu:target{
    transform:translateX(0%);
}

.nav__link{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #2f2f2f;
}
.nav{
    display:flex;
    flex-direction: column;
    gap: 32px;
}
.header{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height:100vh;
    padding: 64px 120px;
    border: 1px solid #000;
    background-image: url(imgs/Headphones-image-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__top{
    display: flex;
    justify-content: space-between;
}
section{
    height: 100vh;
}
.main{
    padding: 120px;
}
.recommendedTitle{
    margin-top: 0;
    margin-bottom: 64;
    font-size: 48px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
}
.recommendedClass{
margin-bottom: 120px;
}

.headerTitle{
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 800;
    line-height: 100%;
    font-style: italic;
    letter-spacing: -1.5px;
    
}
.browseBose{
    margin-top: 0;
    margin-bottom: 64;
    font-size: 48px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
}
.whyBuyDirect{
    margin-top: 0;
    margin-bottom: 64;
    font-size: 48px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -1.5px;
    

}
.recomm_products{
    display: flex;
    gap: 24px;
    justify-content: center;

}
.productOne{
    width: 100%;
    margin-bottom: 32;
}
.productTitle{
    margin-top: 0;
    margin-bottom: 8px;
}
.productCategory{
    margin-top: 0;
    margin-bottom: 12px;

}
.prodctPrice{
    margin: 0;
    font-weight: bold;
}
.product{
    flex-grow: 1;
}
  

