html{
    scroll-behavior:smooth;
}
body{
margin: 0;
font-family: "Inter", sans-serif;
color: #292929;
font-size: 16px;
line-height: 140%;
}
/* #region header */
.header{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height:100vh;
    padding: 64px 120px;
    border: 1px solid #000;
    background-image: url(imgs/Headphones-image-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__top{
    display: flex;                   /* flexible items positioning */
    justify-content: space-between;
}
/* #endregion */
/* #region menu */

.menu{
    box-sizing: border-box;
    padding: 64px 120px;
    background: #E8EFF9;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform:translateX(-100%);
    transition: transform  500ms;
}
.menu_top{
    display: flex;
    justify-content: space-between;
    margin-bottom:  64px;
}
/* #endregion */
/* #region nav */
.nav{
    display:flex;
    flex-direction: column;
    gap: 32px;
}
.nav__link{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #2f2f2f;
    text-transform: uppercase;
}
/* #endregion */
.menu:target{
    transform:translateX(0%);
}





section{
    height: 100vh;
}
.main{
    padding: 120px;
}
.recommendedTitle{
    margin-top: 0;
    margin-bottom: 64;
    font-size: 48px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
}
.recommendedClass{
margin-bottom: 120px;
}
.headerTitle{
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 800;
    line-height: 100%;
    font-style: italic;
    letter-spacing: -1.5px;   
}
.browseBose{
    margin-top: 0;
    margin-bottom: 64;
    font-size: 48px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
}
.whyBuyDirect{
    margin-top: 0;
    margin-bottom: 64;
    font-size: 48px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -1.5px;
}
.recomm_products{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.productPhoto{
    width: 100%;
    margin-bottom: 32px;
}
.productTitle{
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 140%;
}
.productCategory{
    margin-top: 0;
    margin-bottom: 12px;
}
.productPrice{
    margin: 0;
    font-weight: bold;
}
.product{
    flex-grow: 1;
    flex-basis: 324px;
}
.categories{
    max-width: 1020px;
    margin: 0 auto;
    margin-bottom: 120px;
}
  .cat_photoes{
    display: flex; /* photoes positioned in one horizontal line*/
    gap: 3%;
    margin-bottom: 16px;
}
.cat_title{

margin: 0;

}
.category{
    margin-bottom: 64px;
}
  .photo-wide{
width: 65%;
  }
  .photo-squere{
width: 32%;
  }



